# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variable files
.env

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore pytest cache
.cache/
